<div class="row">
    <h1>{{portfolioHeader}}</h1>
</div>
{{#each user.projects}}
<div class="col s4" style="text-align:center">
<h3>{{this.name}}</h3>
    <img src="{{this.imageUrl}}" style="height:100px;">
    <p>{{this.description}}</br>
    {{#each this.links}}
    <a href="{{this.url}}">{{this.description}}</a>
    {{/each}}
    </p>

</div>
{{/each}}
