<h1>Edit {{user.first_name}}'s Project: {{project.name}}</h1>
<div class="row">
<form action="/users/{{userId}}/projects/{{project.id}}?_method=PUT" method="POST">
    <div>Project Name:<input type="text" value="{{project.name}}" name="name"></div>
    <div>WHYDOWENEEDTHIS:<input type="text" value="{{project.user_name}}" name="user_name"></div>
    <div>Tell us about your project:<input type="text" value="{{project.description}}" name="description"></div>
    <div>Put an image with it:<input type="text" value="{{project.imageUrl}}" name="imageUrl"></div>
    {{#each project.links}}
    <div>actual url:<input type="text" value="{{this.url}}" name="link.url"></div>
    <div>describe link:<input type="text" value="{{this.description}}" name="link.description"></div>
    {{/each}}
    <div><input type="submit" value="Update Project" class="btn"></div>
</form>


<div style="padding-top: 10px">
<a href="/users/{{user.id}}/projects"><button class="btn secondary">Cancel</button></a>
</div>
<div>Project ID: {{project.id}}</div>
<div>Project Name: {{project.name}}</div>
<div>Project username: {{project.user_name}}</div>
<div>Project description: {{project.description}}</div>
<div>Project Image URL: {{project.imageUrl}}</div>
<div>Project Links: {{project.links}}</div>
{{#each project.links}}
<div>Link URL: {{this.url}}</div>
<div>Link Description: {{this.description}}</div>
{{/each}}
<div>Projects: created at: {{project.created_at}}</div>
<div>Projects: updated at: {{project.updated_at}}</div>
</div>