<h1>Edit {{userId}}'s Projects Page</h1>

<form action="/users/{{userId}}/projects/{{project.id}}?_method=PUT" method="POST">
    <div><input type="text" value="{{project.name}}" name="name"></div>
    <div><input type="text" value="{{project.user_name}}" name="user_name"></div>
    <div><input type="text" value="{{project.description}}" name="description"></div>
    <div><input type="text" value="{{project.imageUrl}}" name="imageUrl"></div>
    {{#each project.links}}
    <div><input type="text" value="{{this.url}}" name="link.url"></div>
    <div><input type="text" value="{{this.description}}" name="link.description"></div>
    {{/each}}
    <div><input type="submit" value="Update Project"></div>
</form>
<div>Project ID: {{project.id}}</div>
<div>Project Name: {{project.name}}</div>
<div>Project username: {{project.user_name}}</div>
<div>Project description: {{project.description}}</div>
<div>Project Image URL: {{project.imageUrl}}</div>
<div>Project Links: {{project.links}}</div>
{{#each project.links}}
<div>Link URL: {{this.url}}</div>
<div>Link Description: {{this.description}}</div>
{{/each}}
<div>Projects: created at: {{project.created_at}}</div>
<div>Projects: updated at: {{project.updated_at}}</div>