<h1>Edit {{user.first_name}}'s Project: {{project.name}}</h1>
<div class="row">
<form action="/users/{{userId}}/projects/{{project.id}}?_method=PUT" method="POST">
    <div> 
        <label>Project Name:</label><br>
        <input type="text" value="{{project.name}}" name="name" placeholder="Edit project name"></div>
    <div> 
        <label>Edit project description:</label><br>
        <input type="text" value="{{project.description}}" name="description" placeholder="Edit project description"></div>
    {{!--<div> Image: <input type="text" value="{{project.imageUrl}}" name="imageUrl"></div>--}}
    {{#each links}}
    <div> 
        <label>{{this.description}}:</label><br>
        <input type="text" value="{{this.url}}" name="linkUrl" placeholder="Edit link url" ></div>
    <div> 
        <label>Description:</label><br>
        <input type="text" value="{{this.description}}" name="linkDescription" placeholder="Edit link description"></div>
    {{/each}}
    <div><input type="submit" value="Update Project" class="btn"></div>
</form>


<div style="padding-top: 10px">
<a href="/users/{{user.id}}/projects"><button class="btn secondary">Cancel</button></a>
</div>
