<h1>My Projects:</h1>
<div id="list">
    <ol>{{#each arrayOfProjects}}
        <a href="/users/{{user.id}}/thiss/{{this._id}}"><button>View {{this.name}}</button></a>
        <div>{{this.name}}</div>
        <div>{{this.user_name}}</div>
        <div>{{this.description}}</div>
        {{!--<div>this.imageUrl--}}
        <div>{{this.links}}</div>
        <a href="/users/{{user.id}}/thiss/{{this.id}}/edit"><button>Edit {{this.name}}</button></a>
    </ol>
    {{/each}}
    <a href="/users/{{user.id}}"><button>Go back to User's Dashboard</button></a>
</div>