<h1>My Projects Dashboard <a href="/users/{{user.id}}/edit" class="right-align"><button class="btn secondary">Edit my Profile</button></a> </h1>
<a href="/users/{{userId}}/projects/new"><button class="btn">Create New Project</button></a>


<div id="list">

    {{#each arrayOfProjects}}
    <div class="project">
        <div class="row">
        <div class="project-name col s8">
            <h2>{{this.name}}</h2>
        </div>
            <div class="right-align col s4" id="PortfolioIndexDropdown">
                <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Options:</a>
                <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/users/{{../user.id}}/projects/{{this.id}}/edit">Edit </a></li>
                        <li><a href="/users/{{../user.id}}/projects/{{this._id}}">View </a></li>
                        <li><a href="/users/{{../user.id}}/projects/{{this._id}}/delete">Delete</a></li>
                    </ul>
            </div>
        </div>

        <li>User Name: {{this.user_name}}</li>
        <li>Description: {{this.description}}</li>
        <li>Image URL: {{this.imageUrl}}</li>
        {{!--<div>this.imageUrl--}}
        <li>Links: {{#each this.links}}
            <ul>
                    
                <li><a href="{{this.url}}">{{this.description}}</a></li>
            </ul>
            {{/each}}

      
        

    </ul>
    </div>
    {{/each}}
</div>