<h1>My Projects Dashboard </h1>
<a href="/users/{{userId}}/projects/new"><button class="btn">Create New Project</button></a>


<div id="list">

    {{#each arrayOfProjects}}
    <div class="project">
        <div class="row">
            <h2>{{this.name}}</h2>
        <div>
            <label>Description:</label><br>
            {{this.description}}
        </div><br>
        <div>
            <label>Featured Image:</label><br>
            <img src="{{this.imageUrl}}" style="height:100px;">
        </div><br>
        {{#each this.links}}
        <div>
            <label>{{this.description}}:</label><br>
            <a href="{{this.url}}">{{this.url}}</a>
        </div><br>
        {{/each}}
        {{!--<div>this.imageUrl--}}     
        

    </ul>
    </div>
    <a href="/users/{{../user.id}}/projects/{{this.id}}/edit"><button class="btn">Edit</button></a>
    <a href="/users/{{../user.id}}/projects/{{this._id}}"><button class="btn secondary">View</button></a>
    <a href="/users/{{../user.id}}/projects/{{this._id}}/delete"><button class="btn delete">Delete</button></a>
    {{/each}}
</div>