

<h1>My Projects:</h1>
<div id="list">
    <ol>
        <a href="/users/{{userId}}/projects/{{project._id}}"><button>View {{project.name}}</button></a>
        <div>{{project.name}}</div>
        <div>{{project.user_name}}</div>
        <div>{{project.description}}</div>
        {{!--<div>this.imageUrl--}}
        <div>{{project.links}}</div>
        <a href="/users/{{userId}}/projects/{{project.id}}/edit"><button>Edit {{project.name}}</button></a>
    </ol>
    <a href="/users/{{userId}}"><button>Go back to User's Dashboard</button></a>
</div>
