<h1>My Projects:</h1>
<div id="list">

    {{#each arrayOfProjects}}
    <div class="project">
        <h2>{{this.name}}</h2>
        <ul>

        <li>{{this.user_name}}</li>
        <li>{{this.description}}</li>
        {{!--<div>this.imageUrl--}}
        <li>Links: {{#each this.links}}
            <ul>
                <li><a href="{{this.url}}">{{this.description}}</a></li>
            </ul>
            {{/each}}
        </li>
        <a href="/users/{{../user.id}}/projects/{{this.id}}/edit"><button>Edit {{this.name}}</button></a>
        <a href="/users/{{../user.id}}/projects/{{this._id}}"><button>View {{this.name}}</button></a>
    </ul>
    </div>
    {{/each}}
</div>