<h1>My Projects Dashboard</h1>
<a href="/users/{{userId}}/projects/new"><button class="btn">Create New Project</button></a>
<a href="/users/{{user.id}}/edit"><button class="btn secondary">Edit my Profile</button></a>

<div id="list">

    {{#each arrayOfProjects}}
    <div class="project">
        <h2>{{this.name}}</h2>
        <ul>

        <li>User Name: {{this.user_name}}</li>
        <li>Description: {{this.description}}</li>
        <li>Image URL: {{this.imageUrl}}</li>
        {{!--<div>this.imageUrl--}}
        <li>Links: {{#each this.links}}
            <ul>
                <li><a href="{{this.url}}">{{this.description}}</a></li>
            </ul>
            {{/each}}
        </li>
        <a href="/users/{{../user.id}}/projects/{{this.id}}/edit"><button class="btn">Edit {{this.name}}</button></a>
        <a href="/users/{{../user.id}}/projects/{{this._id}}"><button class="btn">View {{this.name}}</button></a>
        <a href="/users/{{../user.id}}/projects/{{this._id}}/delete"><button class="btn delete">Delete {{this.name}}</button></a>
        

    </ul>
    </div>
    {{/each}}
</div>