<h1>My Project:</h1>

<div>{{project.id}}</div>
<div>{{project.name}}</div>
<div>{{project.user_name}}</div>
<div>{{project.description}}</div>
<div>{{project.imageUrl}}</div>
<div>{{#each project.links}}
    <div>{{this.url}}</div>
    <div>{{this.description}}</div>
    {{/each}}
</div>
<div>{{project.created_at}}</div>
<div>{{project.updated_at}}</div>
<a href="/users/{{userId}}/projects/{{project.id}}/edit"><button>Edit My Project</button></a>
<a href="/users/{{userId}}/projects/{{project._id}}/delete"><button>Delete {{project.name}}</button></a>
<a href="/users/{{userId}}/projects"><button>Go back</button></a>
