<h1>My Account:</h1>

<<<<<<< HEAD
<div>
    <label>First Name:</label><br>
    {{user.first_name}}
</div><br>
<div>
    <label>Last Name:</label><br>
    {{user.last_name}}
</div><br>
<div>
    <label>Username:</label><br>
    {{user.user_name}}
</div><br>
<div>
    <label>Job Title:</label><br>
    {{user.job_name}}
</div><br>
<div>
    <label>Email:</label><br>
    {{user.email}}
</div><br>
<div>
    <label>Age:</label><br>
    {{user.age}}
</div><br>
<div>
    <label>Gender:</label><br>
    {{user.gender}}
</div><br>
<div>
    <label>Password:</label><br>
    {{user.password}}
</div><br>
<div>
    <label>Created At:</label><br>
    {{user.created_at}}
</div><br>
<div>
    <label>Last Updated At:</label><br>
    {{user.updated_at}}
</div><br>
<div>
    <label>Your unique UserId is {{user.id}}</label><br>
</div><br>
<a href="../users/{{user.id}}/edit"><button class="btn secondary">Edit my Account</button></a>
<a href="../users/{{user.id}}/projects"><button class="btn">Go to my Dashboard</button></a>
=======
<div>Your unique UserId is: {{user.id}}</div>
<div>First Name:{{user.first_name}}</div>
<div>Last Name:{{user.last_name}}</div>
<div>Email:{{user.email}}</div>
<div>Age:{{user.age}}</div>
<div>Gender:{{user.gender}}</div>
<div>Created At:{{user.created_at}}</div>
<div>Last Updated At:{{user.updated_at}}</div>
<div>Password: {{user.password}}</div>
<div>Portfolio ID: {{user.portfolio}}</div>
<div>Job Title:{{user.job_name}}</div>
<div>Projects Id: {{user.projects}}</div>
<a href="/users/{{user.id}}/edit"><button class="btn secondary">Edit my Profile</button></a>
<a href="/users/{{user.id}}/projects"><button class="btn">Go to my Dashboard</button></a>
>>>>>>> 5363c84d593052849a833c7603e88eeebf8a2292
