<h1>My Account:</h1>

<div>Your unique UserId is: {{user.id}}</div>
<div>First Name:{{user.first_name}}</div>
<div>Last Name:{{user.last_name}}</div>
<div>Email:{{user.email}}</div>
<div>Age:{{user.age}}</div>
<div>Gender:{{user.gender}}</div>
<div>Created At:{{user.created_at}}</div>
<div>Last Updated At:{{user.updated_at}}</div>
<div>Password: {{user.password}}</div>
<div>Portfolio ID: {{user.portfolio}}</div>
<div>Job Title:{{user.job_name}}</div>
<div>Projects Id: {{user.projects}}</div>
<a href="/users/{{user.id}}/edit"><button class="btn secondary">Edit my Profile</button></a>
<a href="/users/{{user.id}}/projects"><button class="btn">Go to my Dashboard</button></a>
