<h1>My Account:</h1>

<div>{{user.id}}</div>
<div>{{user.first_name}}</div>
<div>{{user.last_name}}</div>
<div>{{user.email}}</div>
<div>{{user.age}}</div>
<div>{{user.gender}}</div>
<div>{{user.created_at}}</div>
<div>{{user.updated_at}}</div>
<div>{{user.password}}</div>
<div>{{user.portfolio}}</div>
<div>{{user.job_name}}</div>
<div>{{user.projects}}</div>
<a href="../users/{{user.id}}/edit"><button>Edit my Profile</button></a>
